<div *ngIf="detail" class="pokemon-card" [ngStyle]="{'background-color': getBackgroundColor()}">
  <div class="pokemon-image-section">
    <div class="pokemon-image">
      <img src= {{detail.sprites.front_default}} alt="Image du Pokémon" >
      <button class="prev-button" (click)="prevPokemon()">❮</button>
      <button class="next-button" (click)="nextPokemon()">❯</button>
    </div>
    <div class="pokemon-name">{{ detail.name}}</div>
  </div>

    <div class="pokemon-details">
      <div class="pokemon-stat">
        <span class="label">Poids: </span>
        <span class="value">{{detail.weight}} kg</span>
    </div>
    <div class="pokemon-stat">
        <span class="label">Taille: </span>
        <span class="value">{{detail.height}} cm</span>
    </div>
    <div class="pokemon-stat">
        <span class="label">Caractéristiques: </span>
        <span class="value" *ngFor="let ability of detail.abilities">
          {{ ability.ability.name }}
        </span>
    </div>
    <div class="pokemon-stat">
        <span class="label">Type: </span>
        <span  class="value" *ngFor="let type of detail.types">
          {{ type.type.name }}
        </span>
    </div>
  </div>
  
</div>
