

/* Styles pour les images des Pokémon dans les sections latérales */
.side-content img {
    border-radius: 8px;
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}
button {
    background: linear-gradient(45deg, #3b4cca, #4e65d4);
    border: none;
    border-radius: 30px; /* Bordure arrondie */
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Ombre portée */
    transition: all 0.3s ease; /* Transition douce sur le hover */
    outline: none;
}

/* Effet survol (hover) */
button:hover {
    background: linear-gradient(45deg, #ffcb05, #f0ee74); /* Inverser les couleurs du dégradé */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Renforcer l'ombre au survol */
    transform: translateY(-3px); /* Effet de levée */
}

/* Effet de focus pour l'accessibilité */
button:focus {
    outline: 3px solid rgba(106, 90, 205, 0.5); /* Bordure personnalisée pour focus */
}
