@font-face {
    font-family: 'PokemonSolid';
    src: url('/public/lib/fonts/PokemonSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    width: 100%;
    height: auto; 
    min-height: 100vh; 
    align-items: stretch;
}

.contenu {
    width: 60%;
    text-align: center;
}

.sidebar {
    width: 20%; 
    background-color:#3b4cca;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
    min-height: 100vh; 
   
    
}

.sidebar.gauche {
    border-right: 2px solid rgba(255, 255, 255, 0.5)
}

.sidebar.droit {
    border-left: 2px solid rgba(255, 255, 255, 0.5)
}

h1 {
    font-family: 'PokemonSolid';
    font-size: 100px;
    color: #f1c40f;
    text-shadow: 3px 3px 0 #2980b9;       
    transition: 0.3s;
    position: relative;
    text-transform: capitalize; 
    margin-top: -20px;
}

img {
    width : 225px;
    height : 250px;
}
